<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Event Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12">
      <ngx-datatable
        [rows]="data"
        [ngClass]="tableStyle"
        [rowHeight]="'auto'"
        [headerHeight]="50"
        [footerHeight]="50"
        [columnMode]="'force'"
        [limit]="10"
      >
        <ngx-datatable-column name="Title"></ngx-datatable-column>
        <ngx-datatable-column name="Description"></ngx-datatable-column>
        <ngx-datatable-column name="Start Time"></ngx-datatable-column>

        <ngx-datatable-column name="Actions" [sortable]="false">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <ion-button size="small" fill="outline" (click)="open(row)"
              >Manage</ion-button
            >
          </ng-template>
        </ngx-datatable-column>
	    </ngx-datatable>
    </ion-col>
  </ion-row>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" #fab>
    <ion-fab-button id="eventModal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- MODALS BEGIN HERE -->

  <ion-modal
    #eventModal
    trigger="eventModal"
  >
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-button [strong]="true" (click)="eventModal.dismiss()">Close</ion-button>
          </ion-buttons>
          <ion-title>New Event</ion-title>
          <ion-buttons slot="end">
            <ion-button color="primary" [strong]="true" (click)="scheduleEvent()" [disabled]="!newEvent.title">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding modal">
        
        <div class="group">
          <ion-input
            type="text"
            [(ngModel)]="newEvent.title"
            placeholder="Event Name"
          ></ion-input>
        </div>

        <div class="group">
          <ion-item>
            <ion-label>All Day</ion-label>
            <ion-toggle [(ngModel)]="newEvent.allDay"></ion-toggle>
          </ion-item>

          <ion-item (click)="showStart = !showStart">
            <ion-label>Starts</ion-label>
           <ion-text slot="end">{{this.newEvent.startTime | date:'medium'}}</ion-text>
          </ion-item>

          <ion-datetime 
            #start 
            *ngIf="showStart" 
            [(ngModel)]="newEvent.startTime"
            [presentation]="newEvent.allDay ? 'date' : 'time-date'"
            (ionChange)="startChanged(start.value)"
          ></ion-datetime>

          <ion-item (click)="showEnd = !showEnd">
            <ion-label>Ends</ion-label>
           <ion-text slot="end">{{this.newEvent.endTime | date:'medium'}}</ion-text>
          </ion-item>

          <ion-datetime 
            #end 
            *ngIf="showEnd" 
            [(ngModel)]="newEvent.endTime"
            [presentation]="newEvent.allDay ? 'date' : 'time-date'"
            (ionChange)="endChanged(end.value)"
          ></ion-datetime>

        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
