<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="post-background">
    <ion-img src="{{this.event.image_url}}" alt='test' class="ion-align-self-end"></ion-img>
    <h2>{{this.event.title}}</h2>
  </div>
  <ion-row>
    <ion-col size-sm="12" size-md="12" size-lg="12">
      <div [innerHTML]="this.event.description"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="12" size-md="12" size-lg="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Event Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              Duration: {{this.event.eventDetails?.duration}} <small>(Minutes)</small>
            </ion-item>
            <ion-item>
              Price: {{this.event.eventDetails?.price}}
            </ion-item>
            <ion-item>
              Location: {{this.event.eventDetails?.location}}
            </ion-item>
            <ion-item>
              Pre-Payment Required: {{this.event.eventDetails?.prePayment === true ? "yes" : "no"}}
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button fill="clear" href="event/edit/{{this.event.id}}">Edit</ion-button>
    <ion-button fill="clear" (click)="delete(this.event.id, this.event.userId)">Delete</ion-button>
  </ion-toolbar>
</ion-footer>
