<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{this.event.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{this.event.title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row>
    <ion-col size="12">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>{{this.event.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>{{this.event.description}}</p>
          <div>
            <ion-label><b>Location:</b></ion-label>
            <ion-text>{{this.event.location ?? 'to be returned from api'}}</ion-text>
          </div>
          <div>
            <ion-label><b>Start Time:</b></ion-label>
            <ion-text>{{this.event.startTime}}</ion-text>
          </div>
          <div>
            <ion-label><b>End Time:</b></ion-label>
            <ion-text>{{this.event.endTime}}</ion-text>
          </div>
          <div>
            <ion-label><b>Event Created:</b></ion-label>
            <ion-text>{{this.event.createdAt ?? 'to be returned from api'}}</ion-text>
          </div>
          <div>
            <ion-label><b>Spaces available:</b></ion-label>
            <ion-text>{{this.event.spacesAvail ?? 'to be returned from api'}}</ion-text>
          </div>
          <div>
            <ion-label><b>Spaces Claimed:</b></ion-label>
            <ion-text>{{this.event.spacesAvail ?? 'to be returned from api'}}</ion-text>
          </div>

        </ion-card-content>
      
        <ion-button fill="clear" href="event/edit/{{this.event.id}}">Edit</ion-button>
        <ion-button fill="clear" (click)="delete(this.event.id)">Delete</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
