<ion-header></ion-header>

<ion-content>
  <ion-row>
      <ion-col sizeXs="12" sizeMd="12" sizeLg="8" offsetLg="2">
      <div class="login-logo">
        <img style="max-width:100%; display:block; margin:auto;" src="https://miro.medium.com/v2/resize:fit:300/0*I81h-lcHqubzWg26" alt="Ionic logo">
      </div>
    
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <ion-item>
          <ion-label position="floating" color="primary">Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
    
        <ion-button type="submit" fill="outline" expand="block">{{this.buttonTitle}}</ion-button>
      </form>
      <ion-button type="button" (click)="redirectUserToSignUpPage()" fill="outline" expand="block">{{this.buttonRegisterTitle}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>