<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="post-background">
    <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png" alt='test' class="ion-align-self-end"></ion-img>
    <h2>{{this.event.title}}</h2>
  </div>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size-sm="12" size-md="12" size-lg="12">
      <p>{{this.event.description}}</p>

    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-content>
